.post-info-divider2 {
  display: inline-block;
  height: 1px;
  width: 340%;
  background-color: #464646;
  margin-bottom: 3px;
}

.post-info-user2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.like-button2 {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  background-color: #0b63ce;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px;
  margin-left: 420px;
}

.like-button2:hover {
  background-color: #094b8b;
}

.divider2 {
  width: 100%;
  height: 1px;
  background-color: #464646;
  margin: 10px 0;
}

.post-content2 img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 8px;
}

.post-container2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 320px;
  margin-right: 100px;
  margin-top: -260px;
  width: 600px;
  height: 200px;
}

.post2 {
  background-color: #242526;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  margin-right: 30px;
  max-width: 500px;
}
