.comunidades-container {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  text-align: right;
  width: 280px;
  max-height: 300px; 
  border-radius: 5px;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
}

.comunidades-container a {
  margin-top: 0;
  color: #ffffff;
  font-size: 14px;
}

.comunidade-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px; 
  padding: 6px; 
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.comunidade-imagem {
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px; 
}

.comunidade-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.comunidade-nome {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 12px; 
}

.conheca-btn {
  color: #0b63ce;
  padding: 2px 6px; 
  cursor: pointer;
  font-size: 13px; 
  align-self: flex-end;
}

.aaa {
  display: flex;
  flex-direction: row;
}